<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: pagina(${titulo}, ~{::conteudo})}">
<body>
<div th:fragment="conteudo" class="card">
    <h1>Meu Perfil</h1>

    <dl class="dados">
        <dt>Nome</dt>          <dd th:text="${professor.nome}"></dd>
        <dt>E-mail</dt>        <dd th:text="${professor.email}"></dd>
        <dt>CPF</dt>           <dd th:text="${professor.cpf}"></dd>
        <dt>Departamento</dt>  <dd th:text="${professor.departamento}"></dd>
        <dt>Instituição</dt>   <dd th:text="${professor.instituicao.nome}"></dd>
        <dt>Saldo de moedas</dt><dd th:text="${professor.saldo}"></dd>
    </dl>

    <div class="acoes">
        <a class="botao" href="/professores/transferir">Transferir moedas</a>
        <a class="botao-secundario" href="/professores/alunos">Alunos da instituição</a>
        <a class="botao-secundario" href="/professores/extrato">Ver extrato</a>
        <a class="botao-secundario" href="/trocar-senha">Trocar senha</a>
        <a class="botao-secundario" href="/notificacoes">Notificações</a>
    </div>
</div>
</body>
</html>
